<div style="text-align:center">
  <h1>
    routing and navigation
  </h1>
</div>
<h2>{{message}}</h2>
<!-- <app-test (childEvent)="message=$event" (childEvent)="handleChildEvent($event)" [parentData]="name"></app-test> -->
<!-- <employee-list></employee-list>
<employee-detail></employee-detail> -->
<nav>
  <a routerLink="/departments" routerLinkActive="active">Departments</a>
  <a routerLink="/employees" routerLinkActive="active">Employess</a>
  <a routerLink="/employeeDetails" routerLinkActive="active">Employee Details</a>
</nav>
<router-outlet></router-outlet>
